*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #E50914;      /* Netflix Red */
    --secondary-color: #141414;    /* Dark Background */
    --background-color: #000000;   /* Black */
    --text-color: #FFFFFF;         /* White */
    --gray-color: #808080;         /* Gray */
}
body{
    margin: 0;
    min-height: 100vh;
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/a00fdfd7-4916-4f12-b5ff-c05b9d7b4d07/web/IN-en-20260824-TRIFECTA-perspective_26443db2-0249-420d-bb73-77cfeea330e5_large.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}
body::before{
    content: '';
    inset: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;

}
.primaryBtn{
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}
.editBtn{
    background-color: var(--gray-color);
    color: var(--secondary-color);
    padding: 15px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}
.primaryBtn:hover{
     background-color: #c11119;
}
.movieCardImg{
    background-color: var(--secondary-color);
    cursor: pointer;
    z-index: 4;
}
.card h4{
    white-space: nowrap;
    overflow: hidden;
    width: 70%;
    text-overflow: ellipsis;
}
.card span{
    display: block;
    padding: 5px 10px;
    font-size: 20px;
    /* background-color: green; */
}
.logoParent{
    overflow: hidden;
    z-index: 3;
}
.logo{
    z-index: 3;
}
.logo button{
    width: 35%;
    margin-left:40%;
}
.logoParent a{
    display: block;
    width: 35% ;
}

.logoParent img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.movieCard{
    background-color: var(--background-color);
    color: var(--text-color);
    height: 525px;
}
.movieCard figure{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 0;
   
}
.movieCard figure img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.movieCard figcaption{
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;

    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    box-sizing: border-box;

    transform: translateY(100%);
    transition: 0.4s;
  

}
.card:hover figcaption{
    opacity: 1;
    transform: translateY(0);
}
.movieModal{
    top:12%;
    left:20%;
    width: 60%;
    position: fixed;
    z-index: 10;
    display: none;
}
.backDrop{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    z-index: 4;
    display: none;
}
.movieModal.active,
.backDrop.active{
    display: block;
}